<!DOCTYPE html>
<head>
  <title>Phone Previewer</title>
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma@0.0.4/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="phonePreview" ng-controller="bodyController">
  <div class="phoneOutline">
    <div class="iframeWrapper">
      <iframe ng-src="{{pageData.iFrameUrl}}"></iframe>
      <div ng-click="goBack()" class="backButton"></div>
    </div>
  </div>

  <p class="newUrlForm control is-grouped">
    <span class="select">
      <select disabled>
        <option>Google Nexus 5X</option>
      </select>
    </span>
    <input class="input" type="text" ng-model="pageData.newIFrameUrl" placeholder="Site URL">
    <a class="button is-success" ng-click="updateIFrameUrl(pageData.newIFrameUrl)">Update</a>
  </p>
</body>
