html {
  background-color: white !important;
}

.phoneOutline {
  background-image: url("./nexusFive.png");
  background-repeat: no-repeat;
  display: block;
  margin: 5px auto;
  width: 1000px;
  height: 1600px;
  position: relative;
  background-position: center; 
}

.newUrlForm {
  margin: 20px 10%;
}

iframe {
  height: 200%;
  width: 200%;
  *width: 100%;
}

.iframeWrapper {
  position: absolute;
  left: 169px;
  top: 206px;
  height: 548px;
  width: 332px;
}

.backButton {
  position: absolute;
  left: 55px;
  height: 79px;
  width: 190px;
}

.backButton:hover {
  cursor: pointer;
}

.appContainer {
  margin: 0 auto;
}

div {
  margin: 0 auto;
}

